<h2>Список клиентов</h2>
<p>Наши любимые посетители)</p>
</br>

<table class="table"> <caption>Клиенты по записи:<option> 
  <thead> 
    <tr> 
      <th>№</th> 
      <th>Name</th> 
      <th>DateStamp</th> 
      <th>Phone</th> 
      <th>Barber</th> 
      <th>Color</th>
    </tr>
  </thead> 
  <tbody>
    <% @usr_table.each do |key, value| %>
      <%= "<tr>" %>
        <%= "<th scope='row'>#{key}</th>" %>
        <%= "#{value}" %> 
      <%= "<tr>" %>
    <% end %>
      </tbody> 
</table>
